*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body{
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;

    header {
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 10px black;
        a{
            .atras {
                height: 25px;
                width: 25px;
                scale: 1.2;
                position: absolute;
                left: 20px;
                top: 7px;
                background-color: gray;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 32px;
            }
            color: black;
        }
        .nombre {
            font-size: 35px;
            font-weight: 600;
        }
    }

    main{
        height: 85%;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 10px;
        overflow-y: scroll;
        .mensaje {
            width: 90%;
            height: 50px;
            border-radius: 43px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 0px 15px black;
            .fotito {
                width: 20%;
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 39px;
                }
            }
            .datos {
                width: 55%;
                height: 100%;
                overflow-y: scroll;
            }
            .visto {
                width: 25%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                input[type="button"] {
                    width: 67px;
                    height: 30px;
                    border-radius: 24px;
                    background-color: cornsilk;
                }
            }
        }
    }

    .opcines {
        width: 80%;
        background-color: white;
        height: 60px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        bottom: 1%;
        left: 10%;
        border-radius: 10px;
        box-shadow: 5px 5px 15px black;
        .opc2 {
            width: 0px;
            height:  0px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
        }
    }
}

.auxiliar{
    height: 40px;
    width: 100%;
}
.aux{
    scale: 1.5;
}

@media (orientation: landscape){
    body{
        header{
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                .atras{
                    scale: 1.2;
                    height: 43px;
                    width: 43px;
                }
            }
            .nombre{
                font-size: 55px;
            }
        }
        main{
            .mensaje{
                height: 140px;
                .visto{
                    input[type="button"] {
                        width: 135px;
                        height: 58px;
                        font-size: 25px;
                        cursor: pointer;
                    }
                }
                .datos{
                    font-size: 20px;
                }
            }
        }
    }
    i {
        scale: 1.8;
    }
}