@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Manrope:wght@200..800&display=swap');

*{
    padding: 0; margin: 0; box-sizing: border-box;
}


:root{
    --manrope-font:"Manrope", sans-serif;
    --fondo-degradado:linear-gradient(90deg, lightblue, black);
}

.manrope{
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    background: linear-gradient(90deg, lightblue, black);
}

.total{
    width: 300px;
    height: 550px;
    border: 10px;
}

.arriba{
    width: 100%;
    height: 50px;
    border: 10px;
}

.medio-arriba{
    width: 100%;
    height: 225px;
    border: 10px;
}

.medio-abajo{
    width: 100%;
    height: 225px;
    border: 10px;
}

.abajo{
    width: 100%;
    height: 50px;
    border: 10px;
}


.derecha-arriba{
    background-image:settings_accessibility;

}