@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Manrope:wght@200..800&display=swap');

*{
    padding: 0; margin: 0; box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-color:var(--fondo-degradado);
    display: flex;
    justify-content: center;
    align-items: center;

}


:root{
    --manrope-font:"Manrope", sans-serif;
    --fondo-degradado: linear-gradient(180deg, lightblue 0%, black 100%);
    --negro90: rgb(30, 30, 30);
}

.manrope{
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    background: linear-gradient(90deg, lightblue, black);
}

.total {
    width: 300px;
    height: 550px;
    border: solid;
    box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.288);
}


.arriba {
    width: 100%;
    height: 50px;
    border: solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.medio-arriba {
    width: 100%;
    height: 225px;
    border: solid;
    display: inline-grid;
}

.dos {
    display: flex;
    justify-content: space-around;
}

.medio-abajo {
    width: 100%;
    height: 220px;
    border: solid;
    padding: 10px;
}


.abajo {
    width: 100%;
    height: 55px;
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

header.arriba {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.izquirda-arriba{
    width: 20px;
    height: 20px;
    cursor: pointer;
    
}
.izquirda-arriba:hover{
    text-shadow: 2px 2px 20px black;
    display: flex;
}

.derecha-arriba{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.derecha-arriba:hover{
    text-shadow: 2px 2px 20px black;
    display: flex;
}

.derecha-arriba{
    background-image:settings_accessibility;

}

.colores {
    width: 100%;
    height: 31px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.colors{
    width: 12px;
    height: 12px;
    border: solid;
    border-radius: 7px;
    background-color: blue;
}

.colors:hover{
    width: 25px;
    height: 25px;
    border-radius: 20px;
    cursor: pointer;
}

.rojo{background-color: red;}
.verde{background-color: green;}
.gris{background-color: gray;}
.azul{background-color: blue;}
.negro{background-color: black;}

.tamaño-produ {
    width: 27px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-radius: 26px;
    cursor: pointer;
}

.tamaño-produ:hover{
    transform:scale(1.2);
}

.botones-tamaños {
    display: flex;
    position: relative;
    justify-content: space-around;
    width: auto;
}
.descp-arriba:hover{
    font-size: 20px;
}

.descp-abajo {
    width: 100%;
    height: 91%;
    margin-top: 9px;
}
.descp-abajo:hover{
    font-size: 19px;
}

.boton-carrito {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-radius: 17px;
    width: 126px;
    height: 26px;
    cursor: pointer;
}

.boton-carrito:hover{
    transition: 0.5s;
    transform: scale(1.3);
    background-color: black;
    color: white;
}

.foto {
    background-image: url(../css/imagenesTP1/descarga.jpg);
    width: 100%;
    height: 110px;
}

.foto:hover{
    background-color: red;
    bottom: 31px;
    position: relative;
    height: 219px;
    width: 100%;
    overflow: auto;
    background-position: center;
    background-size:cover;
}

.foto:hover ~ .dos{
    display: none;
}

.foto:hover ~ .botones-tamaños{
    display: none;
}