* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
}

img{ height: 100%;
    width: 100%;
    object-fit: cover;
}
header {
    height: 70%;

    .portada {
        width: 100%;
        height: 70%;
        position: relative;

        .imagen-resto {
            width: 100%;
            height: 100%;
            background-image: url(../imagenes/restauranteT.jpg);
            background-position: center;
            background-size: cover;
            img{
                width: 100%;
                height: 100%;
            }
        }

        .saludo {
            position: absolute;
            left: 11%;
            bottom: 50px;
            width: 220px;
            height: 100px;
            color: white;
            b{
                font-size: 30px;
            }
            p {
                font-size: 15px;
                font-family: 'Courier New', Courier, monospace;

            }
        }

        .buscador {
            position: absolute;
            bottom: -20px;
            left: 5%;
            width: 90%;
            height: 20%;
            background-color: white;
            display: flex;

            .izquierda{
                background-color: rgb(15, 177, 15);
                width: 20%;
                display: flex;
                align-items: center;
                justify-content: center;

                
            }

            .medio{
                width: 60%;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;

                input[type="text"] {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 21px;
                }
            }

            input[type=submit]{
                height: 100%;
                width: 20%;
                text-decoration: none;
                text-decoration-line: none;
                background-color: white;
                cursor: pointer;
                
                .derecha{
                    width: 20%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
    
                    
                }
            }
        }
    }

    section.categoria {
        width: 100%;
        height: 30%;
        display: flex;
        overflow-x: scroll;
        overflow-y:hidden;
        .section.categoria::-webkit-scrollbar-thumb{
            border-radius: 20px;
            background-color: brown;
        }

        .cate {
            width: 200px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            flex-grow: 0;
            flex-shrink: 0;
        }
    }
}

main {
	width: 100%;
	padding: 10px;
	display: grid;
	height: auto;


    .resultado {
        display: flex;
        flex-wrap: wrap;
        

            .resto{
                height: 100px;
                width: 97%;
                color: brown;
                font-size: 30pt;
                display: flex;
                border-radius: 7px;
                position: relative;
                margin: 10px;

                
                

                .foto-ofertas{
                    width: 35%;
                    height: 100%;
                    border-radius: 7px;
                    background-color: brown;
                    position: relative;
                    background-position: center;
                    background-size: cover;
                    overflow: hidden;
                
                    

                    .dis-ofertas {
                        width: 10px;
                        height: 10px;
                        font-size: 17px;
                        color: white;
                        position: absolute;
                        right: 26%;
                        top: 10%;
                    }
                }

                .cuerpo-ofertas{
                    width: 66%;
                    height: 100%;
                    border-radius: 7px;
                    background-color: #83c5be;
                    position: relative;
                    right:1%;

                    a{
                        width: 100%;
                        height: 100%;
                    }

                    .nom-ofertas{
                        width: auto;
                        height: 20%;
                        font-size: 20px;
                        color: black;
                        position: absolute;
                        left: 10%;
                        top: 9%;
                    }

                    .dire-ofertas{
                        width: 50%;
                        height: 20%;
                        font-size: 10px;
                        color: white;
                        position: absolute;
                        left: 10%;
                        top: 35%;
                    }

                    .cali-ofertas {
                        width: 27px;
                        height: 27%;
                        border-radius: 7px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 20px;
                        color: white;
                        position: absolute;
                        background-color: aquamarine;
                        right: -2%;
                        top: -1%;
                    }

                    .estrellas-ofertas{
                        width: 50%;
                        height: 20%;
                        font-size: 17px;
                        color: white;
                        position: absolute;
                        left: 10%;
                        top: 75%;
                    }

                    .preci-ofertas{
                        width: auto;
                        height: 20px;
                        font-size: 17px;
                        color: white;
                        position: absolute;
                        right:10%;
                        top: 70%;
                    }
                }
            }
    }

}



.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24,
}

a{
    width: 100%;
    text-decoration: none;
    color: black;
}

.resto:hover{
    transition: 0.4s;
    transform: scale(1.03);
}
.resto:hover ~ .dis-ofertas{
    font-size: 100px;
}

.cate:hover{
    transition: 0.4s;
    transform: scale(1.4);
}

li{
    list-style:none
}

@media (orientation: landscape){

   /* main .resultado{
        flex-direction: row;
    }*/

    main{
        .resultado{
                background-color: azure;
                flex-wrap: wrap;
                display: flex;
            a{
                flex-grow: 0;
                    flex-shrink: 0;
                    flex-basis: 50%;
                    flex: 0 0 calc(50% - 10px);
                article.resto{
                    flex-grow: 0;
                    flex-shrink: 0;
                    flex-basis: 50%;
                    flex: 0 0 calc(50% - 10px);
                    
                }
            }
        }
    }

    /*main .resultado{
        background-color: red;
        }*/
}
