*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    overflow-x: hidden;
}

.banner {
    display: flex;
    width: 97%;
    height: 269px;
    background-image: url("imagenes/akira_god.jpg");
    background-position: center -82px;
    background-size: cover;
}
.header{
    margin-block: 50px;
    background: darkgray;
    width: 98%;
    display: flex;
    align-items: center;
}
.descrip {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 288px;
    margin-top: 23px;
    position: relative;
}

.productos{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 56px;
    background: aliceblue;
    padding: 14px;  
    height: auto;
}
.imagen {
    background-image: url(imagenes/goku_angel.jpg);
    width: 53%;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    left: 139px;
}
.productitos {
    width: 18vw;
    height: 489px;
    padding: 12px;
    display: grid;
    justify-items: center;
}
.text{
    width: 100%;
    height: auto;
}

.staff{
    display: grid;
    justify-content: center;
    margin-top: 56px;
}

.nose {
    display: flex;
    width: 100%;
    height: 100%;
}

input[type="button"] {
    background: fixed;
    color: white;
    border-color: white;
    height: 28px;
}

.des {
    display: -webkit-inline-box;
    width: 66vh;
    position: relative;
}

.staffitos{
    width: 40%;
    height: 30vh;
    border-radius: 20px;
    padding: 20px;
    display: grid;
    align-items: center;
    justify-content: center;

    .text-stafitos{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

#allStaffitos{
    height: 53vh;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 24px;
}


footer{
    background: darkgray;
    width: 100%;
    text-align: center;
    margin-top: 68px;
}

#titulo{
    justify-content: center;
    display: flex;
    font-size: 36px;
    margin-top: 53px;
}

.algo{
    width: 63%;
}

.algo2{
    width: 2%;
}

.total{
    justify-content: center;
    justify-items: center;
    display: grid;
}

.cosita {
    display: flex;
    justify-content: left;
    font-size: 35px;
    color: white;
    text-shadow: 3px 3px 7px black;
}

.cosita2 {
    width: 275px;
    font-size: 18px;
    margin-top: 100px;
    position: absolute;
    left: 217px;
    height: 136px;
}

body{
    display: grid;
    place-items: center;
}

.button {
    width: 70%;
    background-color: rgb(50, 81, 255);
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: black;
    position: relative;
    bottom: -30%;
    border-radius: 10px;
    height: 25px;
}
.foto-kri {
    background-image: url("imagenes/krillin.jpg");
    background-position: center -9px;
    background-size: cover;
    width: 100%;
    height: 228px;
}

.foto-vege {
    background-image: url("imagenes/Vegeta.jpg");
    background-position: center 0px;
    background-size: cover;
    width: 100%;
    height: 228px;
}

a{
    text-decoration: none;
    color: white;
    height: auto;
    width: 70%;
}

.producto1{ background-color: aquamarine;}
.producto2{ background-color: rgb(248, 116, 116);}
.producto3{ background-color: rgb(248, 156, 236);}
.producto4{ background-color: rgb(127, 229, 255);} 
.redondiar{ border-radius: 143px;}    
